<h1>Add Your Task</h1>
<div style="border: 5px; border-style: solid; height: 100%; width: 100%;">
  <ul>
    <li>Task1</li>
    <li>Task2</li>
  </ul>
</div>
<div class="form-group" style="position: relative">
  <input type="text" name="" class="datetimepicker">
</div>